* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2 {
  font-family: Montserrat, "Times New Roman";
}

p {
  font-family: Roboto, "Times New Roman";
}

.AppBody {
  background-color: rgb(215, 228, 228);
  color: black;
  min-height: 100vh;
  padding-top: 33px;
  height: fit-content;
  overflow-x: hidden;
  overflow-y: auto;
}

.AppBody-dark {
  background-color: rgb(21, 21, 21);
  color: white;
  min-height: 100vh;
  padding-top: 33px;
  height: fit-content;
  overflow-x: hidden;
  overflow-y: auto;
}

.head {
  position: relative;
  top: 40px;
  left: 20px;
  margin: 0;
}

.ch-head-bg {
  background-image: url("../assets/app-gradient-min.jpg");
  background-size: 1800px;
  background-position: center;
}

.ch-head-div {

  color: black;
  padding: 50px;
  justify-self: center;
  width: 100%;
}

.ch-head-div-dark {
  color: azure;
  padding: 50px;
  justify-self: center;
  width: 100%;
}

.ch-head-border {
  display: flex;
  vertical-align: middle;
  align-items: center;
  border: 5px solid black;
  padding: 50px;
  width: fit-content;
  justify-self: center;
}

.ch-head-border-dark {
  display: flex;
  vertical-align: middle;
  align-items: center;
  border: 5px solid azure;
  padding: 30px 60px;
  width: fit-content;
  justify-self: center;
}

.by-me {
  padding-top: 10px;
}

.ch-head {
  padding-top: 10px;
  display: block;
  font-size: 30px;
}

.wecoded-heading {
  margin-top: 50px;
  margin-left: 40px;
}

.wecoded-desc {
  margin-top: 30px;
  width: 75vw;
  line-height: 30px;
  text-wrap: wrap;
}

.create-entry {
  margin-top: 20px;
  padding: 15px 30px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #9D00E5;
  color: white;
  border: none;
}

.create-entry:hover {
  padding: 13px 28px;
  background-color: rgb(141.3, 0, 206.1);
  transition-delay: 0.15s;
}

.filter {
  margin-top: 30px;
  margin-left: 40px;
  margin-bottom: 30px;
}

.posts-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  height: 600px;
  width: 80vw;
  justify-self: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  overflow-y: scroll;
}

.posts-wrapper-dark {
  display: grid;
  grid-template-columns: 1fr;
  height: 600px;
  width: 80vw;
  justify-self: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  overflow-y: scroll;
}

.post {
  height: 280px;
  width: 70vw;
  border-radius: 20px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  margin: 20px 0px;
  justify-self: center;
  justify-content: center;
  align-items: center;
  text-overflow: ellipsis;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  transition-delay: 0.15s;
}

.post:hover {
  box-shadow: 0px 0px 20px 5px #9D00E5;
}

.post-dark {
  height: 280px;
  width: 70vw;
  border-radius: 20px;
  padding: 20px;
  background-color: rgb(44.4, 44.4, 44.4);
  margin: 20px 0px;
  justify-self: center;
  justify-content: center;
  align-items: center;
  text-overflow: ellipsis;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  transition-delay: 0.15s;
}

.post-dark:hover {
  box-shadow: 0px 0px 20px 5px #CCEA71;
}

.post-text {
  width: 100%;
  overflow: hidden;
  padding: 10px;
  border-radius: 10px;
}

.post-h2 {
  color: #9D00E5;
  font-size: clamp(15px, 4vw, 25px);
  font-family: Roboto, sans-serif;
  font-weight: 900;
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}

.post-h2-dark {
  color: #CCEA71;
  font-size: clamp(15px, 4vw, 25px);
  font-family: Roboto, sans-serif;
  font-weight: 900;
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}

.post-h2:hover, .post-h2-dark:hover {
  text-decoration: underline;
}

.post-p {
  display: block;
  font-size: clamp(12px, 2vw, 15px);
  font-family: Lato, "Times New Roman";
  width: 90%;
  text-wrap: wrap;
  overflow-x: hidden;
  margin-top: 20px;
  margin-left: 30px;
}

.created-at {
  margin-left: 20px;
  margin-bottom: 20px;
  color: gray;
  font-weight: 700;
}

.pfp-name {
  display: flex;
  vertical-align: middle;
  align-items: center;
  width: 60vw;
  padding-top: 5px;
  overflow: hidden;
}

.pfp {
  height: clamp(30px, 3vw, 100px);
  width: clamp(30px, 3vw, 100px);
  border-radius: 30px;
  border: 1px solid black;
}

.pfp-badge {
  position: relative;
  height: clamp(20px, 3vw, 60px);
  bottom: clamp(10px, 1vw, 70px);
  left: clamp(10px, 1vw, 70px);
}

.username {
  margin-left: 15px;
  font-weight: 600;
  width: 60vw;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tags-div {
  display: flex;
  width: 100%;
  vertical-align: top;
  overflow: hidden;
}

.tag-container {
  display: flex;
  margin: 20px;
  width: 100%;
  overflow-x: hidden;
  flex-wrap: wrap;
  gap: 5px 0px;
}

.tag {
  margin: 0px 5px;
  height: fit-content;
  width: fit-content;
  background-color: rgb(204, 204, 204);
  padding: 5px 10px;
  border-radius: 15px;
  font-size: clamp(10px, 1vw, 15px);
}

.tag-dark {
  margin: 0px 5px;
  height: fit-content;
  width: fit-content;
  background-color: rgb(104, 104, 104);
  padding: 5px 10px;
  border-radius: 15px;
  font-size: clamp(10px, 1vw, 15px);
}

.article {
  height: fit-content;
  width: 75vw;
  padding: 20px;
  background-color: white;
  margin: 30px;
  line-height: 25px;
  border-radius: 20px;
}
.article h2 {
  margin-bottom: 20px;
}
.article p {
  overflow: hidden;
  text-wrap: wrap;
}

.article-dark {
  height: fit-content;
  width: 75vw;
  padding: 20px;
  background-color: rgb(44.4, 44.4, 44.4);
  margin: 30px;
  line-height: 25px;
  border-radius: 20px;
}
.article-dark h2 {
  margin-bottom: 20px;
}
.article-dark p {
  overflow: hidden;
  text-wrap: wrap;
}

@media (max-width: 600px) {
  .ch-head-border, .ch-head-border-dark {
    padding: 20px 20px;
  }
}

/*# sourceMappingURL=WecodedApp.css.map */
