@use 'sass:color';

$bg-light: rgb(215, 228, 228);
$bg-dark: rgb(21, 21, 21);
$DEV-blue: #4531EA ;
$DEV-green: #CCEA71 ;
$DEV-purple: #9D00E5;
$header-bg-light: rgba(119, 240, 174, 0.4);
$header-bg-dark: color.scale($bg-dark, $lightness: 30%, $alpha: -70%);

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.AppBody {
    background-color: $bg-light;
    color: black;
    min-height: 100vh;
    padding-top: 33px;
    height: fit-content;
    overflow-x: hidden;
    overflow-y: auto;
}

.AppBody-dark {
    background-color: $bg-dark;
    color: white;
    min-height: 100vh;
    padding-top: 33px;
    height: fit-content;
    overflow-x: hidden;
    overflow-y: auto;
}


.head{
  position: relative;
  top: 40px;  
  left: 20px;
  margin: 0;
}

.ch-head-div {
    background-image: url('../assets/app-gradient.jpg');
    background-size: 1800px;
    background-position: center;
    color: black;
    padding: 50px;
    justify-self: center;
    width: 100%;
}

.ch-head-div-dark {
    background-image: url('../assets/app-gradient.jpg');
    background-size: 1800px;
    background-position: center;
    color: azure;
    padding: 50px;
    justify-self: center;
    width: 100%;
}

.ch-head-border {
    display: flex;
    vertical-align: middle;
    align-items: center;
    border: 5px solid black;
    padding: 50px;
    width: fit-content;
    justify-self: center;
}

.ch-head-border-dark {
    display: flex;
    vertical-align: middle;
    align-items: center;
    border: 5px solid azure;
    padding: 30px 60px;
    width: fit-content;
    justify-self: center;
}

.by-me {
    padding-top: 10px;
}

.ch-head {
    padding-top: 10px;
    display: block;
    font-size: 30px;
} 

.wecoded-heading {
    margin-top: 50px;
    margin-left: 40px;
}

.wecoded-desc {
    margin-top: 30px;
    // margin-left: 50px;
    width: 75vw;
    line-height: 30px;
    text-wrap: wrap;
}

.create-entry {
    margin-top: 20px;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    background-color: $DEV-purple;
    color: white;
    border: none;
}

.create-entry:hover{
    padding: 13px 28px;
    background-color: color.scale($DEV-purple,$lightness: -10%);
    transition-delay: 0.15s;
}

.filter {
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 30px;
}


.posts-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    // row-gap: 150px;
    height: 600px;
    width: 80vw;
    justify-self: center;
    justify-content: center;
    align-items: center;
    // background-image: linear-gradient(to bottom right, $DEV-blue, lightgreen,$DEV-purple);
    margin-bottom: 100px;
    overflow-y: scroll;
    // padding: 100px 0px;
}

.posts-wrapper-dark {
    display: grid;
    grid-template-columns: 1fr;
    // row-gap: 150px;
    height: 600px;
    width: 80vw;
    justify-self: center;
    justify-content: center;
    align-items: center;
    // background-image: linear-gradient(to bottom right, $DEV-blue,$DEV-purple);
    margin-bottom: 100px;
    overflow-y: scroll;
    
}

.post {
    height: 280px;
    width: 70vw;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    margin: 20px 0px;
    justify-self: center;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    transition-delay: 0.15s;
}

.post:hover {
    box-shadow: 0px 0px 20px 5px $DEV-purple;
}

.post-dark {
    height: 280px;
    width: 70vw;
    border-radius: 20px;
    padding: 20px;
    background-color: color.scale($bg-dark, $lightness: 10%);
    margin: 20px 0px;
    justify-self: center;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    transition-delay: 0.15s;
}

.post-dark:hover {
    box-shadow: 0px 0px 20px 5px $DEV-green;
}

.post-text {
    // margin-bottom: 20px;
    width: 100%;
    overflow: hidden;
    // background-color: gray;
    padding: 10px;
    border-radius: 10px;
}

.post-h2 {
    color: $DEV-purple;
    font-size: clamp(15px,4vw,25px);
    font-weight:900;
    width: 100%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

.post-h2-dark{
    color: $DEV-green;
    font-size: clamp(15px,4vw,25px);
    font-weight: 900;
    width: 100%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

.post-h2:hover, .post-h2-dark:hover {
    text-decoration: underline;
}

.post-p{
    display: block;
    font-size: clamp(12px, 2vw, 15px);
    width: 90%;
    text-wrap: wrap;
    overflow-x: hidden;
    margin-top: 20px;
    margin-left: 30px;
}

.created-at{
    margin-left: 20px;
    margin-bottom: 20px;
    color: gray;
    font-weight: 700;
}

.pfp-name {
    display: flex;
    vertical-align: middle;
    align-items: center;
    width: 60vw;
    overflow: hidden;
}

.pfp {
    height: clamp(30px,3vw,100px);
    width: clamp(30px,3vw,100px);
    border-radius: 30px;
    border: 1px solid black;
}

.pfp-badge {
    position: relative;
    height: clamp(20px,3vw,60px);
    bottom: clamp(10px,1vw,70px);
    left: clamp(10px,1vw,70px);
}

.username {
    margin-left: 15px;
    font-weight: 600;
    width: 60vw;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tags-div {
    display: flex;
    width: 100%;
    vertical-align: top;
    overflow: hidden;
}

.tag-container {
    display: flex;
    margin: 20px;
    width: 100%;
    overflow-x: hidden;
    flex-wrap: wrap;
    gap: 5px 0px;
}

.tag {
    margin: 0px 5px;
    height: fit-content;
    width: fit-content;
    background-color: rgb(204, 204, 204);
    padding: 5px 10px;
    border-radius: 15px;
    font-size: clamp(10px, calc(1vw ), 15px);
}

.tag-dark {
    margin: 0px 5px;
    height: fit-content;
    width: fit-content;
    background-color: rgb(104, 104, 104);
    padding: 5px 10px;
    border-radius: 15px;
    font-size: clamp(10px, calc(1vw), 15px);
}

.article {
    height: fit-content;
    width: 75vw;
    padding: 20px;
    background-color: white;
    margin: 30px;
    border-radius: 20px;
}

.article-dark {
    height: fit-content;
    width: 75vw;
    padding: 20px;
    background-color: color.scale($bg-dark,$lightness: 10%);
    margin: 30px;
    border-radius: 20px;
}

.article-pic{
    background-image: url('../assets/gender_equity.webp');
    background-repeat: no-repeat;
    background-size: cover;
    
    height: clamp(200px, 30vw, 300px);
    width: 100%;
    border-radius: 20px;
    margin-bottom: 10px;
}

@media(max-width: 600px){

    .ch-head-border, .ch-head-border-dark{
        padding: 20px 20px;
    }
}